#indexContainer
  width 100%
  //主体
  .indexMain
    width 100%
    //头部
    .indexHeader
      background-color white
      width 100%
      height 75px
      position fixed
      left 0
      top 0
      //头部的上边
      .indexHeaderTop
        width 100%
        height 45px
        display flex
        justify-content center
        align-items center
        a
          zoom 1
          img
            width 70px
            height 20px
            margin-right 8px
        .indexSearch
          width 220px
          height 30px
          line-height 30px
          background #EDEDED
          text-align center
          span
            font-size 12px
            color #666

        .btn
          width 40px
          height 20px
          margin-left 8px
          background white
          border 1px solid #B9383D
          color #B9383D
          border-radius 10%
          font-size 12px
          //头部的下边
      .indexHeaderBottom
        height 30px
        overflow hidden
        .indexHeaderBottomList
          width 830px
          height 33px
          padding-left 14px
          .indexHeaderBottomItem
            float left
            //width 80px
            height 33px
            line-height 30px
            text-align center
            padding 0 10px
            font-size 14px
      //内容区
    .indexConent
      overflow: hidden
      padding-top 75px
      padding-bottom 50px
      //轮播图
      .indexBanner
        width 100%
        height 180px
        img
          width 100%
          height 100%
      .indexConentList
        width 100%
        height 36px
        padding 0 15px
        .indexConentItem
          width 110px
          height 36px
          line-height 36px
          float left
          font-size 12px
          text-align center
          i
            color red
      .indexConentSort
        width 100%
        height 170px
        overflow hidden
        padding 0 5px 10px 5px
        .indexConentSortItem
          width 20%
          height 50%
          float left
          text-align center
          img
            display block
            width 55px
            height 55px
            margin 0 auto
          span
            display block
            font-size 12px
            margin-top 5px


      .bigBanner
        display block
        width 100%
        height 63px
        img
          width 100%
          height 100%
      .discount
        width 100%
        height 260px
        //background red
        padding 5px 15px 5px
        .discountContent
          display block
          width 170px
          height 130px
          background #F5F5F5
          float left
          &:nth-child(2n+1)
            margin-right 5px
          &:nth-child(1)
            margin-bottom 5px
          &:nth-child(2)
            margin-bottom 5px
          .text
            padding 10px
            line-height 20px
            .p1
              font-size 16px
              color #333333
            .p2
              font-size 12px
          .discountImages
            zoom 1
            img
              width 75px
              height 75px
  .indexFooter
    width 100%
    height 50px
    position fixed
    bottom 0
    background white
    .indexFooterList
      height 100%
      width 100%
      display flex

      .indexFooterItem
        display flex
        align-items center
        justify-content center
        //text-align center
        height 100%
        width 20%
        a
          display block
          i
            display block
            margin 0 auto
            width 20px
            height 20px
          p
            font-size 12px


